@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.g-glossy {
  position: fixed;
  max-width: 1440px;
  width: 100%;
  height: 750px;

  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(10px);
  z-index: 10;

  &::before {
    content: unset;
  }

  border-radius: 0.5rem;
}
/* 特殊表情顏色 */
physicalDamage {
  color: #FF6347; /* Tomato */
}

status {
  color: #4682B4; /* SteelBlue */
}

recast {
  color: #8A2BE2; /* BlueViolet */
}

magicDamage {
  color: #7FFF00; /* Chartreuse */
}

spellPassive {
  color: #DC143C; /* Crimson */
}

lifeSteal {
  color: #00FFFF; /* Cyan */
}

keywordMajor {
  color: #FF8C00; /* DarkOrange */
}

spellActive {
  color: #8B0000; /* DarkRed */
}

speed {
  color: #006400; /* DarkGreen */
}

scaleAD {
  color: #BDB76B; /* DarkKhaki */
}

healing {
  color: #8FBC8F; /* DarkSeaGreen */
}

trueDamage {
  color: #B8860B; /* DarkGoldenRod */
}

keywordStealth {
  color: #556B2F; /* DarkOliveGreen */
}

toggle {
  color: #FF1493; /* DeepPink */
}

shield {
  color: #00BFFF; /* DeepSkyBlue */
}

spellName {
  color: #696969; /* DimGray */
}

attackSpeed {
  color: #1E90FF; /* DodgerBlue */
}

scaleHealth {
  color: #B22222; /* FireBrick */
}

scaleArmor {
  color: #FFFAF0; /* FloralWhite */
}

scaleMR {
  color: #228B22; /* ForestGreen */
}

rules {
  color: #FF00FF; /* Fuchsia */
}

charge {
  color: #DCDCDC; /* Gainsboro */
}

release {
  color: #F8F8FF; /* GhostWhite */
}

scaleMana {
  color: #FFD700; /* Gold */
}

OnHit {
  color: #DAA520; /* GoldenRod */
}

passive {
  color: #808080; /* Gray */
}

active {
  color: #008000; /* Green */
}

scaleLevel {
  color: #ADFF2F; /* GreenYellow */
}

scaleAP {
  color: #F0FFF0; /* HoneyDew */
}

attention {
  color: #FF69B4; /* HotPink */
}

evolve {
  color: #CD5C5C; /* IndianRed */
}

tap {
  color: #4B0082; /* Indigo */
}

hold {
  color: #FFFFF0; /* Ivory */
}

danger {
  color: #F0E68C; /* Khaki */
}

slow {
  color: #E6E6FA; /* Lavender */
}

specialRules {
  color: #FFF0F5; /* LavenderBlush */
}

keywordName {
  color: #7CFC00; /* LawnGreen */
}

factionIonia1 {
  color: #FFFACD; /* LemonChiffon */
}
